<!DOCTYPE html>
<html lang="ru">
<head>
    <title> {% block title %} Решение квадратных уравнений {% endblock %}</title>
</head>
<div class="card my-4">
    <h2 class="card-header">Решение квадратных уравнений</h2>
    <div class="card-body">
        <label for="a">Число a:</label>
        <input type="number" id="a" name="a"
            min="-100" max="100">

        <label for="b">Число b:</label>
        <input type="number" id="b" name="b"
            min="-100" max="100">

        <label for="c">Число c:</label>
        <input type="number" id="c" name="c"
            min="-100" max="100">
    </div>
</div>
<p>{% block content %} {% include 'equation.html' %} {% endblock %} </p>

<p><label for="ответ"> Ответ: </label></p>
<input type="readonly"> {{ result1 }} 
<input type="readonly"> {{ result2 }}
